Package: com.hax0rdoge.webscrollin
Name: WebScrollin
Depends: mobilesubstrate
Conflicts: com.hax0rdoge.leo, com.chpwn.webscrollian, net.tateu.webscrollian
Version: 1.3
Architecture: iphoneos-arm
Description: Speed up your web content scrolling.
Maintainer: Prayag Bhakar <p.bhakar.work@gmail.com>
Author: Prayag Bhakar (Hax0rDoge) <p.bhakar.work@gmail.com>
Section: Tweaks
