<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Slide To Unlock</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The text will default to the IP address if enabled.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.hax0rdoge.slidetounlockpreferences</string>
			<key>key</key>
			<string>slideToUnlockEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.hax0rdoge.slidetounlockpreferences</string>
			<key>key</key>
			<string>slideToUnlockIP</string>
			<key>label</key>
			<string>Use IP Address</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.hax0rdoge.slidetounlockpreferences</string>
			<key>key</key>
			<string>slideToUnlockText</string>
			<key>label</key>
			<string>Text</string>
			<key>placeholder</key>
			<string>slide to unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>height</key>
			<string>20</string>
			<key>footerText</key>
			<string>© 2016 Prayag Bhakar (Hax0rDoge)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reportBug</string>
			<key>icon</key>
			<string>bug.png</string>
			<key>label</key>
			<string>Report a bug</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>STUCreditsListController</string>
			<key>icon</key>
			<string>credits.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Credits</string>
		</dict>
	</array>
</dict>
</plist>
